{% extends "home.html" %}

{% block body %}

<br>
<br>
<br>
<br>
<br>
<br>


<section class="site-blog details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <article class="site-blog-details">
          <div class="section-title">
            <h2>About Us</h2>
            <p>Financially Educating People in India. One Person At a Time.</p>
          </div>
          <div style="text-align: justify">
            <p>
              In 2017, a group of friends spent their free hours in college
              discussing about trading in the stock market. Unfortunately, they
              did not have enough capital. So they decided to take help from
              their friends. They were able to raise around Rs 22,500. Within 6
              months, the collected sum was doubled. The boys started getting
              popular and started receiving more funds from family and friends.
            </p>
            <p>
              On 18th December 2019, Optionables Fintech LLP was registered and
              incorporated officially.
            </p>
            <p>
              The term ‘Options’ means valuation of underlying financial assets
              and ‘ables’ is the ability to trade in the market with accuracy.
            </p>
            <p>
              We are currently focused on building financial models and
              increasing financial literacy among people.
            </p>
            <p>
              We have expanded over time and our services include algo trading,
              option trading course, mentorship programs and educational
              workshops.
            </p>
            <p>
              We have almost 100k followers from our social media platforms
              including YouTube, Instagram, Facebook, Twitter, LinkedIn and
              Spotify. Using these platforms, we aim to reach more people and
              educate them about the financial markets and help them elevate
              their financial journey.
            </p>
            <p>
              With time, our asset under management has grown to Rs 4.1 crore
              and continues to grow.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

{% endblock %}