{% extends "home.html" %}

{% block body %}
<section class="site-blog details">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <article class="site-blog-details">
            <div class="section-title text-center">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              <h1> Our Products </h1>
              <br>
              <br>
            </div>
            <div>
                <h3 id="1-courses-on-financial-markets">1. Courses on Financial Markets</h3>
  <p>Most people approach trading and investing the wrong way.
  They expect to double their money overnight. Unfortunately,
  that is not possible.</p>
  <p>But don’t worry! We will guide you and teach you the right
  approach of trading and investing. Our method and strategies
  will help you minimize your loss and maximize your profit.
  What does our course cover?</p>
  <p>There are different modules which cover the following
  topics:</p>
  <ol>
  <li>Basics of Investing</li>
  <li>Basics of Options</li>
  <li>Advanced Option Strategies, and much more…</li>
  </ol>
  <p><a href="/contact_us">Contact us for more details</a></p>
  <h3 id="2-mentorship-program">2. Mentorship Program</h3>
  <p>Our mentorship program is a one-week training program. Here, you will be
  trading live with us! You will also:</p>
  <ol>
  <li>Use our strategies in live trade.</li>
  <li>Learn to adjust your trades.</li>
  <li>Manage risk (We will help you build a risk management system)</li>
  <li>Learn position sizing</li>
  <li>Learn portfolio hedging</li>
  <li>Learn some hacks and tricks in option trading</li>
  </ol>
  <p>Prerequisites for joining our mentorship program:</p>
  <ol>
  <li>You should understand the basics of option trading or you should have
  completed our Option Trading Course.</li>
  <li>You need to have a minimum capital of Rs 15 lakh.</li>
  <li>You need to have an account with Firstock.</li>
  </ol>
  <p><a href="/contact_us">Contact us for more details</a></p>
  <h3 id="3-algo-trading">3. Algo Trading</h3>
  <p>Algo based trading services in clients account.</p>
  <p>We at Optionables want to expand our trading services, Join Optionables Algo
  Services, where we use sophisticated models to trade and also help the clients
  trade systematically.</p>
  <p>Come join us in our journey of trading!!</p>
  <p><a href="#">Coming Soon!</a></p>
  
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
{% endblock %}